@import url(https://fonts.bunny.net/css?family=ibm-plex-sans:400|Lora:400,700);
/* Variables */
:root {
	--background-color: #fff;
	--text-color: #444;
	--heading-color: #222;
	--link-color: #2960b9;
	--code-background-color: #f2f2f2;
	--blockquote-color: #222;
	--blockquote-border-color: #999;
}

@media (prefers-color-scheme: dark) {
	:root.dark {
		--background-color: #252627;
		--text-color: #F9FAFA;
		--heading-color: #F9FAFA;
		--link-color: #90C4F9;
		--code-background-color: #333;
		--blockquote-color: #F9FAFA;
		--blockquote-border-color: #666;
	}
}

/* Reset */
body,
html {
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable;
}
* {
	box-sizing: border-box;
}

/* Styles */
body {
	font-family: "Lora",sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 85ch;
	text-align: left;
	background-color: var(--background-color);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--text-color);
	font-size: 1.2rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: var(--heading-color);
}

a {
	color: var(--link-color);
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 1rem;
}

input {
	font-size: 1rem;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 6px;
}
code {
	background-color: var(--code-background-color);
}
pre {
	padding: 1rem;
}
pre>code {
	all: unset;
	font-size: 1rem;
}
blockquote {
	border: 1px solid var(--blockquote-border-color);
	color: var(--blockquote-color);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
@media (max-width: 767px) {
	header {
		text-align: center;
	}
	body {
		max-width: 65ch;
		font-size: 1.1rem;

		pre>code{
			font-size:0.85rem;
		}
	}
}

/* Theme button */
#theme-btn {
	color: var(--link-color);
	border: none;
	padding: 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	background-color: transparent;
	font-size: inherit;
}

#theme-btn:hover {
	text-decoration: underline;
}
/* Name in header */
#Name {
	text-decoration: none;
	color: var(--heading-color);

}
/* Post timestamps */
ul li time {
	color: #9c9c9c;
	flex: 0 0 130px;
	font-style: italic;

}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", sans-serif;
} */
