---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello!</h1>
			<h2>My name is Siddhant.</h2>
			<h3>Welcome to my corner of the internet.</h3>
			<p>I am a final year engineering student with a focus in CS.</p>
			<p>I sometimes write stuff on my blog.</p>
			<p>You can find me on:
				<a href="https://twitter.com/Siddhantmaitra">Twitter</a> 
				and 
				<a href="https://github.com/siddhantmaitra">GitHub</a>.</p>
		</main>

		<Footer />
	</body>
</html>
<style>
	

</style>