---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<style>
		main {
			font-size: larger;
			@media screen and (max-width: 767px) {
				text-align: center;
				font-size: x-large;
			}
		}
	</style>

	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>Hello!</h2>
			<p>
				I am a programmer with a focus on building optimized and
				beautiful software.
			</p>
			<p>I enjoy collaborating with a team and learning from others.</p>
			<p>
				I sometimes write stuff on my <a href="posts">blog</a>.
			</p>

			<p>You can find me on:</p><p>
				<a href="https://twitter.com/siddhantmaitra">Twitter</a>
				and
				<a href="https://github.com/siddhantmaitra">GitHub</a>.
			</p>
		</main>
		<Footer/>
	</body>
</html>
