---
const today = new Date();
import {repository } from "../../package.json";
import childProcess from "child_process";

const commitDate = childProcess
	.execSync(
		"git log -1 --format=%cs --date=local",
	)
	.toString()
	.trim();
console.log("Commit date: ",commitDate);
const branchName = import.meta.env.CF_PAGES_BRANCH || import.meta.env.VERCEL_GIT_COMMIT_REF;
---

<footer>
	<!-- &copy; •  -->
	<div>Siddhant Maitra • {today.getFullYear()}</div>
	<div>
		<!-- Version: {version}   -->
		Last updated:
		<a href=`${repository.url.replace('.git','')}/commits/${branchName}`>
			{commitDate}
		</a>
	</div>
</footer>
<style>
	footer {
		text-align: center;	
		margin-top: auto;
	}
	
</style>
